:export {
    primary: $primary;
    secondary: $secondary;
    darkBlue: $dark-blue;
    darkerBlue: $darker-blue;
    deepBlue: $deep-blue;
    grayishBlue: $grayish-blue;
    dark: $dark;
    light: $light;
    lightGray: $light-gray;
    anotherGray: $another-gray;
    gray: $gray;
    darkGray: $dark-gray;
    midGray: $mid-gray;
    midLightGray: $mid-light-gray;
    lightRed: $light-red;
    red: $red;
    darkRed: $dark-red;
    lightGreen: $light-green;
    darkGreen: $dark-green;
}