$primary: #000e5f;
$secondary: #7093ff;
$dark-blue: #3d5afe;
$darker-blue: #0025ec;
$deep-blue: #3f51b5;
$grayish-blue: #d8dae5;
$dark: #000;
$light: #fff;
$light-gray: #f6f6f9;
$another-gray: #d8dae5;
$gray: #e9e9e9;
$dark-gray: #969696;
$mid-gray: #acacac;
$mid-light-gray: #d1d1d1;
$light-red: #f05662;
$red: #d73544;
$dark-red: #ac0f1d;
$light-green: #0fac5e;
$dark-green: #087a41;

$blue-shadow: 0 0.3rem 1rem rgba($primary, 0.5);

$common-gradient-deg: 135.23deg;

$bubble-bg: linear-gradient(224.46deg, darken($deep-blue, 18) 0%, $deep-blue 100%);
$button-bg: linear-gradient($common-gradient-deg, $secondary, $dark-blue);
$warn-bg: linear-gradient($common-gradient-deg, $light-red, $dark-red);
$good-bg: linear-gradient($common-gradient-deg, $light-green, $dark-green);
$gray-bg: linear-gradient($common-gradient-deg, $gray, $mid-gray);

$header-height: 4rem;
$modal-padding: 1.5rem;
$modal-radius: 0.15rem;
$modal-section-height: 4.5rem;
